n8n/Alcamancha - WB Campaña Fertilizantes.json
{
  "name": "Alcamancha - WB Campaña Fertilizantes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "69133ccf-3990-4ed5-84eb-70dce81093cb",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -272
      ],
      "id": "964e19f9-d240-4b59-a9cb-f3570867aa82",
      "name": "Webhook",
      "webhookId": "69133ccf-3990-4ed5-84eb-70dce81093cb"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        544,
        592
      ],
      "id": "ac586f9f-7288-4f8e-8611-319055a07f3a",
      "name": "WhatsApp Trigger",
      "webhookId": "6676d225-6ebe-4cb7-a1bf-85d94f46682e",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "34kqB6HfFEaXRpS1",
          "name": "Alcamancha - WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Inicio",
        "height": 1232,
        "width": 3360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -832
      ],
      "id": "f8d6f180-f527-47da-bb24-5b274a32019b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "x_plantacion",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "x_studio_hectreas",
            "x_studio_tipo_de_plantacin"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "x_contacto",
              "value": "={{ $json.body.contacts[0].name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        224,
        -272
      ],
      "id": "9dc82f47-816d-405a-9fa1-7945902bd8f4",
      "name": "get_plantations",
      "credentials": {
        "odooApi": {
          "id": "H0nb6docwel49LBW",
          "name": "alcamancha-api"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        -272
      ],
      "id": "ef894c6c-bd08-40fe-934e-c1379fa1b8b2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "sale.order",
        "operation": "getAll",
        "options": {
          "fieldsList": [
            "order_line"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "x_studio_periodo_de_reserva",
              "operator": "like",
              "value": "Otoño 2024"
            },
            {
              "fieldName": "partner_id",
              "value": "={{ $('Webhook').item.json.body.contacts[0].contact_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        672,
        -272
      ],
      "id": "1d2d4b78-6d77-48fd-aff2-50af9751e99a",
      "name": "get_sale_order_period",
      "credentials": {
        "odooApi": {
          "id": "H0nb6docwel49LBW",
          "name": "alcamancha-api"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "order_line",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        896,
        -272
      ],
      "id": "8e2c93de-8c03-4f6e-84c5-ab7486eef3b0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "sale.order.line",
        "operation": "get",
        "customResourceId": "={{ $json.order_line }}",
        "options": {
          "fieldsList": [
            "product_qty",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1344,
        -224
      ],
      "id": "95dd043d-4bab-481f-8a03-ca8d951b52b7",
      "name": "get_order_line",
      "credentials": {
        "odooApi": {
          "id": "H0nb6docwel49LBW",
          "name": "alcamancha-api"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "plantations_data",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        448,
        -272
      ],
      "id": "b0c51e08-cae0-4497-bc7a-b07ff892599a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "order_data",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1344,
        -416
      ],
      "id": "5c002048-e46e-49fd-953c-db403ac960ea",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5577bcb-2850-4264-9340-8576041e96a8",
              "name": "body.contacts[0].name",
              "value": "={{ $('Webhook').item.json.body.contacts[0].name }}",
              "type": "string"
            },
            {
              "id": "fd539316-7833-449d-b09b-ea58099e2df4",
              "name": "body.contacts[0].mobile",
              "value": "={{ $('Webhook').item.json.body.contacts[0].mobile }}",
              "type": "string"
            },
            {
              "id": "d0cd303e-f1ef-4808-99d3-36082238e144",
              "name": "order_data",
              "value": "={{ $json.order_data }}",
              "type": "array"
            },
            {
              "id": "f10597b0-a8c6-45ea-a9c2-e99493cbeca8",
              "name": "plantations_data",
              "value": "={{ $('Aggregate').item.json.plantations_data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -416
      ],
      "id": "742fe3d5-09be-4ba7-a560-fdc9a79e3fc4",
      "name": "all_info"
    },
    {
      "parameters": {
        "phoneNumberId": "705449112658861",
        "recipientPhoneNumber": "=633326419",
        "template": "prevision_socio_fiel_basico|es",
        "components": {
          "component": [
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "type": "image",
                    "imageLink": "https://fertilizantes.alcamancha.com/wp-content/uploads/2025/08/img-directorio-ALCAMANCHA.jpg"
                  }
                ]
              }
            },
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('formated_info').item.json.nombre }}"
                  },
                  {
                    "text": "={{ $('formated_info').item.json.consumos }}"
                  },
                  {
                    "text": "={{ $('formated_info').item.json.hectareas }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2608,
        -720
      ],
      "id": "8cee66d0-7766-4108-8726-2701b7818430",
      "name": "send_tpt_socio_fiel_basico",
      "webhookId": "a889056f-94b1-4389-868d-e9042143ef8e",
      "credentials": {
        "whatsAppApi": {
          "id": "lUfS6lyQkbYYadlt",
          "name": "Alcamancha - Whatsapp Business"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "res.partner",
        "operation": "get",
        "customResourceId": "={{ $('Webhook').item.json.body.contacts[0].contact_id }}",
        "options": {
          "fieldsList": [
            "complete_name",
            "x_studio_conocimiento_informtico",
            "x_studio_tipologa_de_socio"
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2016,
        -288
      ],
      "id": "3e0a6c70-3ef8-4490-8fc2-eb99c77e393b",
      "name": "get_contact_info",
      "credentials": {
        "odooApi": {
          "id": "H0nb6docwel49LBW",
          "name": "alcamancha-api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\n\nconst nombre = item.body.contacts[0].name;\n\nlet consumosText = \"📦 Hemos visto que en otoño del año pasado consumiste: \";\nconst orderData = item.order_data;\n\nif (orderData && orderData.length > 0) {\n  for (const orderLine of orderData) {\n    consumosText += `*${orderLine.name}* (${orderLine.product_qty} t) | `;\n  }\n  consumosText = consumosText.slice(0, -3);\n} else {\n  consumosText = \"📦 No hemos encontrado datos de consumo del año pasado.\";\n}\n\nlet hectareasText = \"\";\nconst plantationsData = item.plantations_data;\n\nif (plantationsData && plantationsData.length > 0) {\n  for (const plantation of plantationsData) {\n    hectareasText += `🌱 *${plantation.x_studio_tipo_de_plantacin}*: ${plantation.x_studio_hectreas} ha | `;\n  }\n  hectareasText = hectareasText.slice(0, -3);\n} else {\n  hectareasText = \"🌱 No se han encontrado datos de plantaciones en la PAC.\";\n}\n\nreturn {\n  json: {\n    nombre: nombre,\n    consumos: consumosText,\n    hectareas: hectareasText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -288
      ],
      "id": "6b762186-a4b2-4442-85ee-0d70085b4cc2",
      "name": "formated_info"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "143d1901-2940-4a65-be7c-315b2f5c6109",
              "leftValue": "={{ $json.x_studio_conocimiento_informtico }}",
              "rightValue": "Básico",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "600f06d4-911b-4935-9be9-8c469cbd834c",
              "leftValue": "={{ $json.x_studio_tipologa_de_socio }}",
              "rightValue": "Comprometido",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        -704
      ],
      "id": "bb67c0da-6422-4688-afc6-5372ca27cdfb",
      "name": "socio_comprometido_basico"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8fc48976-04f9-485c-be21-3a36d5fa3a8d",
              "leftValue": "={{ $('get_contact_info').item.json.x_studio_conocimiento_informtico }}",
              "rightValue": "Normal",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6b831f83-6ed5-40ef-8338-039d67f06cea",
              "leftValue": "={{ $json.x_studio_tipologa_de_socio }}",
              "rightValue": "Comprometido",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        -448
      ],
      "id": "3656498a-f6d9-4045-aeb2-ac7ee2d0f96b",
      "name": "socio_comprometido_avanzado"
    },
    {
      "parameters": {
        "phoneNumberId": "705449112658861",
        "recipientPhoneNumber": "=633326419",
        "template": "prevision_socio_fiel_avanzado|es",
        "components": {
          "component": [
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "type": "image",
                    "imageLink": "https://fertilizantes.alcamancha.com/wp-content/uploads/2025/08/img-directorio-ALCAMANCHA.jpg"
                  }
                ]
              }
            },
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('formated_info').item.json.nombre }}"
                  },
                  {
                    "text": "={{ $('formated_info').item.json.consumos }}"
                  },
                  {
                    "text": "={{ $('formated_info').item.json.hectareas }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2608,
        -464
      ],
      "id": "73fb16f5-fbc4-43e9-b0c7-4cca0ef92156",
      "name": "send_tpt_socio_fiel_avanzado",
      "webhookId": "a889056f-94b1-4389-868d-e9042143ef8e",
      "credentials": {
        "whatsAppApi": {
          "id": "lUfS6lyQkbYYadlt",
          "name": "Alcamancha - Whatsapp Business"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8fc48976-04f9-485c-be21-3a36d5fa3a8d",
              "leftValue": "={{ $('get_contact_info').item.json.x_studio_conocimiento_informtico }}",
              "rightValue": "Básico",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6b831f83-6ed5-40ef-8338-039d67f06cea",
              "leftValue": "={{ $json.x_studio_tipologa_de_socio }}",
              "rightValue": "Oportunista",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        -192
      ],
      "id": "09f35cca-ffeb-4dfe-9899-abdc32d38b57",
      "name": "socio_oportunista_basico"
    },
    {
      "parameters": {
        "phoneNumberId": "705449112658861",
        "recipientPhoneNumber": "=633326419",
        "template": "socio_oportunista_basico|es",
        "components": {
          "component": [
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "type": "image",
                    "imageLink": "https://fertilizantes.alcamancha.com/wp-content/uploads/2025/08/img-directorio-ALCAMANCHA.jpg"
                  }
                ]
              }
            },
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('formated_info').item.json.nombre }}"
                  },
                  {
                    "text": "={{ $('formated_info').item.json.consumos }}"
                  },
                  {
                    "text": "={{ $('formated_info').item.json.hectareas }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2608,
        -208
      ],
      "id": "fd1c1b14-5ce6-4a84-be21-09edb6e69d08",
      "name": "send_tpt_oportunista_basico",
      "webhookId": "a889056f-94b1-4389-868d-e9042143ef8e",
      "credentials": {
        "whatsAppApi": {
          "id": "lUfS6lyQkbYYadlt",
          "name": "Alcamancha - Whatsapp Business"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "705449112658861",
        "recipientPhoneNumber": "={{ $('Webhook').item.json.body.contacts[0].mobile }}",
        "template": "prevision_socio_oportunista_avanzado_v2|es",
        "components": {
          "component": [
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "type": "image",
                    "imageLink": "https://fertilizantes.alcamancha.com/wp-content/uploads/2025/08/img-directorio-ALCAMANCHA.jpg"
                  }
                ]
              }
            },
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('formated_info').item.json.nombre }}"
                  },
                  {
                    "text": "={{ $('formated_info').item.json.consumos }}"
                  },
                  {
                    "text": "={{ $('formated_info').item.json.hectareas }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2608,
        64
      ],
      "id": "0f079297-8034-4529-b766-52c3857c6526",
      "name": "send_tpt_oportunista_basico1",
      "webhookId": "a889056f-94b1-4389-868d-e9042143ef8e",
      "credentials": {
        "whatsAppApi": {
          "id": "lUfS6lyQkbYYadlt",
          "name": "Alcamancha - Whatsapp Business"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8fc48976-04f9-485c-be21-3a36d5fa3a8d",
              "leftValue": "={{ $('get_contact_info').item.json.x_studio_conocimiento_informtico }}",
              "rightValue": "Normal",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6b831f83-6ed5-40ef-8338-039d67f06cea",
              "leftValue": "={{ $json.x_studio_tipologa_de_socio }}",
              "rightValue": "Oportunista",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        80
      ],
      "id": "c9a0c2a0-7e2e-4b7e-9e7f-e82edc1ba71f",
      "name": "socio_oportunista_avanzado"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "1. ROL Y OBJETIVO\nEres el asistente virtual de Alcamancha, potenciado con IA ☀️. Tu nombre no es relevante, eres simplemente \"el asistente virtual de Alcamancha\". Tu objetivo principal y ÚNICO es ayudar a los socios de la cooperativa a gestionar su reserva de fertilizantes para la próxima campaña agrícola. Eres amable, eficiente y muy directo en tus respuestas. Tu propósito es facilitar el proceso de planificación de compras para asegurar la disponibilidad de stock y los mejores precios para todos.\n\n2. CONTEXTO DE LA CONVERSACIÓN\nEstás recibiendo respuestas por WhatsApp de socios a los que se les ha enviado previamente un mensaje con la siguiente información:\n\nNombre del socio.\n\nConsumo de fertilizantes del otoño del año anterior (ej: ALCAFER MEZCLA N.P.K. 8-30-6 GRANEL (33.96 t)).\n\nHectáreas de referencia de sus cultivos principales según la PAC actual (ej: Cebada: 154.19 ha).\n\nDos botones/opciones: \"Reservar mismas cantidades\" y \"Contactar con Alcamancha\".\n\nTu tarea es analizar la respuesta del socio y actuar según una de las tres intenciones posibles.\n\n3. REGLAS Y DIRECTRICES PRINCIPALES\nCíñete al tema: Bajo ninguna circunstancia hables de temas que no sean la reserva de fertilizantes. Si un usuario pregunta por el tiempo, el precio de la cosecha, o cualquier otro tema, debes responder amablemente que tu única función es asistir con la reserva actual.\n\nIdentifica la intención: Tu primera tarea es identificar si el socio quiere:\n\nConfirmar el pedido del año pasado.\n\nModificar su pedido (lo que implica solicitar un formulario).\n\nSer contactado por un gestor.\n\nSé conciso: No añadas información innecesaria. Ve directo al grano.\n\nUsa la información de contexto: Cuando confirmes un pedido, debes usar los datos de consumo del año pasado que se te proporcionarán en el contexto.\n\n4. GESTIÓN DE INTENCIONES (FLUJOS DE RESPUESTA)\nINTENCIÓN 1: Confirmar pedido (\"Reservar mismas cantidades\")\nSi el usuario responde afirmativamente, con frases como \"Si\", \"Confirmar\", \"Repetir pedido\", \"El mismo del año pasado\", \"Adelante\", \"Ok\", o pulsa el botón correspondiente.\n\nTu respuesta DEBE ser:\n\n\"¡Perfecto! Hemos registrado tu petición. Para la campaña de otoño, prepararemos una reserva con un consumo similar al del año pasado: [Aquí insertarás dinámicamente los productos y cantidades del socio]. Si en algún momento necesitas modificar algo, no dudes en escribirnos de nuevo para que un gestor te contacte. ¡Gracias por tu colaboración!\"\n\nINTENCIÓN 2: Modificar pedido (Necesita el formulario)\nSi el usuario indica que necesita cantidades diferentes, pregunta cómo puede cambiar el pedido, o dice frases como \"Quiero cambiarlo\", \"Necesito otras cosas\", \"Rellenar formulario\".\n\nTu respuesta DEBE ser:\n\n\"Entendido. Para que puedas ajustar las cantidades según tus necesidades, aquí tienes el enlace a nuestro formulario de reserva. Está pre-rellenado con tus datos para que sea más sencillo.\n\n[Aquí se insertará dinámicamente el enlace de WordPress]\n\nSi tienes cualquier duda mientras lo completas, avísame.\"\n\nINTENCIÓN 3: Solicitar contacto (\"Contactar con Alcamancha\")\nSi el usuario pide que le llamen, dice que tiene dudas, o pulsa el botón \"Contactar con Alcamancha\".\n\nTu respuesta DEBE ser:\n\n\"¡Claro! Hemos registrado tu solicitud. Un gestor de tu cooperativa se pondrá en contacto contigo lo antes posible para resolver tus dudas y ajustar tu reserva personalmente. Gracias.\"\n\n5. GESTIÓN DE PREGUNTAS FRECUENTES (FAQ)\nSi el usuario pregunta: \"¿Cómo funciona esto?\" o \"¿Para qué es esto?\"\nTu respuesta debe ser:\n\n\"Esta es una herramienta para planificar las compras de fertilizantes de la cooperativa. Al hacer una previsión, podemos negociar mejores precios y asegurar que tengamos stock suficiente para todos los socios cuando lo necesiten. Tu reserva se basa en tu consumo anterior, pero siempre puedes ajustarla.\"\n\nSi el usuario pregunta por recomendaciones o dosis de abonado:\nTu respuesta debe ser:\n\n\"Claro, aquí tienes las dosis de referencia recomendadas por hectárea para nuestros fertilizantes principales:\n\nAbonado de otoño (sólido):\n\n8-30-6 → 200 kg/ha\n\n14-38-6 → 160 kg/ha\n\n18-46-0 → 150 kg/ha\n\nAbonado de otoño (líquido):\n\n5-15-5 → 230 kg/ha\n\nAbonado de primavera:\n\nNitro 40 → 180 kg/ha\n\nNitro 33 → 200 kg/ha\n\nNitro 29 → 250 kg/ha\n\nNAC 27 → 250 kg/ha\n\nUrea → 220 kg/ha\n\nAbonado líquido (primavera):\n\nN32 → entre 200 y 220 kg/ha\"\n\n6. GESTIÓN DE TEMAS FUERA DE ALCANCE\nSi el usuario pregunta por cualquier otra cosa (el tiempo, otras campañas, personal de la cooperativa, etc.), NO intentes responder.\n\nTu respuesta DEBE ser siempre una variación de:\n\n\"En este momento, mi única función es ayudarte con la previsión y reserva de fertilizantes para la campaña de otoño. Si tienes otra consulta, puedo registrar un aviso para que un gestor de tu cooperativa te contacte directamente. ¿Quieres que lo haga?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2048,
        576
      ],
      "id": "b9102b7b-ee29-485d-a03b-bd5543606577",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2000,
        784
      ],
      "id": "2ccdd709-e92d-4c7f-9e10-decfb94d7f80",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "t2DjWreuqFUB9Qvc",
          "name": "MM - OpenAi account - Alcamancha"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "705449112658861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2336,
        576
      ],
      "id": "ac7bf02f-18db-4761-93cb-3704d514e6e8",
      "name": "Send message",
      "webhookId": "d478df75-b6dc-4eff-a4a7-126fdb8ca5c1",
      "credentials": {
        "whatsAppApi": {
          "id": "lUfS6lyQkbYYadlt",
          "name": "Alcamancha - Whatsapp Business"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "res.partner",
        "operation": "getAll",
        "limit": 1,
        "options": {
          "fieldsList": [
            "id",
            "name"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "mobile",
              "operator": "like",
              "value": "=633 32 64 19"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        752,
        592
      ],
      "id": "e5d08c4b-f45f-42cf-82ea-68e227978c3c",
      "name": "Get many items",
      "credentials": {
        "odooApi": {
          "id": "H0nb6docwel49LBW",
          "name": "alcamancha-api"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "mail.message",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "model",
              "fieldValue": "res.partner"
            },
            {
              "fieldName": "res_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldName": "body",
              "fieldValue": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"
            },
            {
              "fieldName": "message_type",
              "fieldValue": "comment"
            },
            {
              "fieldName": "subtype_id",
              "fieldValue": "1"
            },
            {
              "fieldName": "subject",
              "fieldValue": "Mensaje del Usuario"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        960,
        592
      ],
      "id": "5a711e51-38ee-4ec0-afb8-90683f0830d0",
      "name": "Create an item",
      "credentials": {
        "odooApi": {
          "id": "H0nb6docwel49LBW",
          "name": "alcamancha-api"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "mail.message",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "model",
              "fieldValue": "res.partner"
            },
            {
              "fieldName": "res_id",
              "fieldValue": "={{ $('Get many items').item.json.id }}"
            },
            {
              "fieldName": "body",
              "fieldValue": "={{ $('AI Agent').item.json.output }}"
            },
            {
              "fieldName": "message_type",
              "fieldValue": "comment"
            },
            {
              "fieldName": "subtype_id",
              "fieldValue": "1"
            },
            {
              "fieldName": "subject",
              "fieldValue": "Mensaje del Bot"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2544,
        576
      ],
      "id": "6941137e-8833-40fc-8247-45767239ed19",
      "name": "Create an item1",
      "credentials": {
        "odooApi": {
          "id": "H0nb6docwel49LBW",
          "name": "alcamancha-api"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ea1e8b0d-225d-4825-835a-e839b5a1972c",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].button.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "42da5a9e-4dab-4793-82a8-3b345a3a2c1b",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1440,
        576
      ],
      "id": "10df3e7a-94e3-4a95-807b-e5ba10021a11",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74a44c27-4ab8-457a-ac6d-2fe317d4f06b",
              "name": "data",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].button.text }}",
              "type": "string"
            },
            {
              "id": "e2905837-60e3-4be9-b424-ba0428dc6425",
              "name": "data",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        576
      ],
      "id": "80092678-cfd5-4945-9bde-093eba7f18cf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88c762b7-115b-40b8-8f1e-f6c5ad721d06",
              "leftValue": "={{ $json.statuses[0].pricing }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        592
      ],
      "id": "235b48cc-656a-49ba-877e-e4cff0f90ae2",
      "name": "If"
    }
  ],
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "34608654106",
            "phone_number_id": "705449112658861"
          },
          "contacts": [
            {
              "profile": {
                "name": "Mark"
              },
              "wa_id": "34633326419"
            }
          ],
          "messages": [
            {
              "from": "34633326419",
              "id": "wamid.HBgLMzQ2MzMzMjY0MTkVAgASGBQzRkFFRTAwMjgwODVCQzc4QkY3NgA=",
              "timestamp": "1755805613",
              "text": {
                "body": "hola"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "get_plantations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Get many items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_plantations": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get_order_line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_sale_order_period": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_order_line": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "get_sale_order_period",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "all_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "all_info": {
      "main": [
        [
          {
            "node": "formated_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formated_info": {
      "main": [
        [
          {
            "node": "get_contact_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_contact_info": {
      "main": [
        [
          {
            "node": "socio_comprometido_basico",
            "type": "main",
            "index": 0
          },
          {
            "node": "socio_comprometido_avanzado",
            "type": "main",
            "index": 0
          },
          {
            "node": "socio_oportunista_basico",
            "type": "main",
            "index": 0
          },
          {
            "node": "socio_oportunista_avanzado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_tpt_socio_fiel_basico": {
      "main": [
        []
      ]
    },
    "socio_comprometido_basico": {
      "main": [
        [
          {
            "node": "send_tpt_socio_fiel_basico",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "socio_comprometido_avanzado": {
      "main": [
        [
          {
            "node": "send_tpt_socio_fiel_avanzado",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "send_tpt_socio_fiel_avanzado": {
      "main": [
        []
      ]
    },
    "socio_oportunista_basico": {
      "main": [
        [
          {
            "node": "send_tpt_oportunista_basico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "socio_oportunista_avanzado": {
      "main": [
        [
          {
            "node": "send_tpt_oportunista_basico1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many items": {
      "main": [
        [
          {
            "node": "Create an item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an item": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Create an item1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "46803f9d-a262-4ee9-a3a6-f98686fc2bfb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "db22c17ebbc08c128535ebce7505cbfdce3f20af3ddfb339ce948930bb1c850a"
  },
  "id": "6vVdGoNAmxGq7WBx",
  "tags": []
}